
th {
    text-transform: uppercase;
  }
  
  a {
    color: green;
  }
  

  td.top {
    background-color: red;
    color: gold;
  }
  

  

  p em {
    font-style: italic;
  }
  

  em {
    background-color: blue;
  }
  

  #the_most_important {
    font-weight: bold;
    background-color: gold;
    text-transform: uppercase;
  }