@font-face {
    font-family: myFirstFont;
    src: url(../fonts/CairoPlay-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: mySecondFont;
    src: url(../fonts/CairoPlay-Regular.ttf);
}


html{
    font-family: mySecondFont;
    background: #FFF;
    /* background-image: url("Animated\ Shape.svg"); */
    color: #000000;
}
a {
    color: #000000;
}
header{
font-family: myFirstFont;
display: inline-flex;
align-items: center;
gap: 233px;
    
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

nav{
color: #35414B;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; 

display: flex;
align-items: center;
gap: 95px;
}
article p:first-child{
    color: #4E5A65;
text-align: center;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: 72px; 
}
article p:nth-child(2){
    color: #4E5A65;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        
      }



    
     ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline;
  margin-right: 10px; 
}



body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
  }
  
  main {
    flex-grow: 1;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  
  .menu-wrapper {
    position: relative;
    display: inline-block;
}

.menu-icon {
    display: block;
    cursor: pointer;
}

.menu-items {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: visibility 0s, opacity 0.5s linear;
    padding: 10px 0; 
}

.menu-wrapper:hover .menu-items {
    visibility: visible;
    opacity: 1;
}

.menu-items a {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin: 10px 0; 
    padding: 5px 10px; 
    display: block; 
}

.menu-wrapper:hover .menu-items a {
    opacity: 1;
}


.menu-items { transition-delay: 0s; }
.menu-items a:nth-child(1) { transition-delay: 0.5s; }
.menu-items a:nth-child(2) { transition-delay: 1s; }
.menu-items a:nth-child(3) { transition-delay: 1.5s; }
.menu-items a:nth-child(4) { transition-delay: 2s; }
.menu-items a:nth-child(5) { transition-delay: 2.5s; }


#loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white; 
  z-index: 9999;
  opacity: 1;
  display: flex;
  justify-content: center; 
  align-items: center; 
  animation-name: fadeOut;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 2s; 
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#content {
  opacity: 0;
  animation: fadeInContent 2s 2s forwards; 
}

@keyframes fadeInContent {
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%; 
    height: auto; 
    flex-shrink: 0;
  }



  html, body {
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
  }

  header {
    padding: 10px; /
  }

  nav {
    flex-direction: column; 
    gap: 15px; 
  }

  article p:first-child {
    color: #35414B;
    text-align: center;
    font-family: Inter;
    font-size: 32px; 
    font-weight: 600;
    line-height: 40px; 
  }

  img {
    width: 384px; 
    height: 273.288px; 
    flex-shrink: 0;
  }

  footer ul {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
    gap: 16px; 
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}

.nav > li > a {
  padding: 10px 20px !important;
}

.footer-text {
  padding: 15px 0;
}

.centered-image {
  margin: 30px 0; 
}


.footer {
  background-color: #f1f1f1; 
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}


.content {
  min-height: 100vh;
}



}
      

      